.card {
  background-color: hsl(0, 0%, 95%);
  /* border: solid;
  border-color: hsl(0, 0%, 36%); */
  border-radius: 18px;
  max-width: 200px;
  padding: 16px;
  margin: 12px;
  box-shadow: 3px 5px 8px hsla(0, 0%, 0%, 0.195);
  display: inline-block;
}

.card .card-image {
  border-radius: 12px;
}

